<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fix" version="0.4.2.51412" targetFramework="net40" />
  <package id="Fix.AspNet" version="0.4.2.51412" targetFramework="net40" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net40" />
  <package id="Simple.Web" version="0.10.3.51415" targetFramework="net40" />
  <package id="Simple.Web.AspNet" version="0.10.3.51415" targetFramework="net40" />
  <package id="Simple.Web.JsonFx" version="0.10.3.51415" targetFramework="net40" />
  <package id="Simple.Web.Razor" version="0.10.3.51415" targetFramework="net40" />
</packages>