@handler SampleWebApp.SimpleWeb.Index

<!DOCTYPE html>

<html>
    <head>
        <title>@handler.Title</title>
    </head>
    <body>
        <div>
              <h1>@handler.Title</h1>
        </div>
    </body>
</html>